.SectionTitle {
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 36px;
  width: 100%;
  h1 {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-align: center;
    color: #2b2b2b;
  }
}
