.wrapper {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin: -0.5rem -50vw 5rem -50vw;

  background: #0f4c82;
  color: #fff;
  height: 7rem;
}

.inner {
  width: 100%;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 500;
  font-size: 1rem;
}

.moki {
  display: flex;
  align-items: center;
  height: 100%;
}
.hover {
  color: #fff;
}

.joki {
  position: absolute;
  top: 5.5rem;
  z-index: 20;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: rgb(243, 243, 243);
}

.jokiInner {
  width: 100%;
  max-width: 1100px;
  height: 80%;
  margin: -2px auto 0;
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 15px;
  color: #0f4c82;
  padding: 25px 15px;
  a {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 15px;
    font-weight: bold;
    &:hover {
      color: #0F4C82;
      border: 1px solid #0F4C82;
    }
  }
}

.jokiLink {
  font-weight: normal !important;
}
.jokiMoki {
  width: 25%;
}
.brands {
  &:hover {
    color: #ff5e1a;
  }
}

@media screen and (max-width: 1100px) {
  .wrapper {
    display: none;
  }
}
